
<section class="contenu container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 encadre">
			<h1 class="text-center">Nouvel adhérent</h1>
			<form ng-submit="adherentCtrl.addAdh()" action="fiche_adherent.html" method="get"
				class="form-horizontal" novalidate>
				<div class="form-group obligatoire">
					<label for="nom" class="col-md-4 control-label">Nom</label>
					<div class="col-md-7 entree">
						<input ng-model="adherentCtrl.add.nom" id="nom" name="nom" type="text" placeholder="Dupont"
							class="form-control" ng-required="true" />
					</div>
				</div>
				<div class="form-group obligatoire">
					<label for="prenom" class="col-md-4 control-label">Prénom</label>
					<div class="col-md-7 entree">
						<input ng-model="adherentCtrl.add.prenom" id="prenom" name="prenom" type="text" placeholder="Paul"
							class="form-control" ng-required="true" />
					</div>
				</div>
				<div class="form-group obligatoire">
					<label for="naissance" class="col-md-4 control-label">Date
						de naissance</label>
					<div class="col-md-7 entree">
						<input ng-model="adherentCtrl.add.dateN" id="naissance" name="naissance" type="date"
							class="form-control" ng-required="true" />
					</div>
				</div>
				<div class="form-group">
					<label for="age" class="col-md-4 control-label">Âge</label>
					<div class="col-md-7 entree">
						<input ng-model="adherentCtrl.add.age" id="age" name="age" type="text" class="form-control"
							ng-disabled="true" />
					</div>
				</div>
				<div class="form-group obligatoire">
					<label for="email" class="col-md-4 control-label">E-mail</label>
					<div class="col-md-7 entree">
						<input ng-model="adherentCtrl.add.mail" id="email" name="email" type="email"
							placeholder="paul.dupont@example.com" class="form-control"
							ng-required="true" />
					</div>
				</div>
				<div class="form-group adresse">
					<label for="rue" class="col-md-4 control-label">Adresse</label>
					<div class="col-md-7">
						<input ng-model="adherentCtrl.add.adresse.rue" id="rue" name="rue" type="text" placeholder="rue"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 col-md-offset-4">
						<input ng-model="adherentCtrl.add.adresse.codePostal" id="code_postal" name="code_postal" type="text"
							placeholder="CP" class="form-control" />
					</div>
					<div class="col-md-5">
						<input ng-model="adherentCtrl.add.adresse.ville" id="ville" name="ville" type="text" placeholder="Ville"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="cotisation" class="col-md-4 control-label">Paiement
						cotisation</label>
					<div class="col-md-7">
						<input ng-model="adherentCtrl.add.cotisation" id="cotisation" name="cotisation" type="date"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="fin_abonnement" class="col-md-4 control-label">Fin
						d'abonnement</label>
					<div class="col-md-7">
						<input ng-model="adherentCtrl.add.finAbo" id="fin_abonnement" name="fin_abonnement" type="date"
							class="form-control" ng-disabled="true" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7 col-md-offset-5">
						<button id="enregistrer" role="button" class="btn btn-success">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

{{adherentCtrl.add}}

