body.mediaticSMAC {
	background-color: #F8F8F8 ;
}

/*  --------------- En tete --------------------  */
.entete {
	background-color: #383838 ;
	height: 150px;
	border-style: groove;
}

.menu{
	right:20px;
	top:105px;
}


.logo{
	background-image: url("livre.gif");
	height:140px;
	width:120px;
}


/* ---------------- Barre de Recherche ------------------- */
form div label.search{
	
	font-weight: bold; 
	font-size: 130%;
	font-style: solid;
	margin-left: 20px;

}

div.search {
	
	padding: 18px;
	border-radius : 10px;
	background-color: steelBlue;
	display: inline;
	
}

.pos {
	margin-left: 50px;
	    
}

 form.search {
    margin-top: 50px;
    text-align: center;
 }
 

/* ---------------- Recherche ------------------- */

.encadre{
	margin:100px;
	background-color: SteelBlue;
	border-radius: 10px;
	padding:20px;
}

				/*label */
label:after {
	content: ' : ';
}




/* ---------------- Creation ------------------- */


/* ---------------- Resultat ------------------- */

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ffffff;
}

.tableau th,td{
	text-align:center;
}

th span.fleche_haut{
    background: url("arrow_up.gif") right center no-repeat;
    padding-right: 15px;
     padding-top:15px;
}

th span.fleche_bas{
    background: url("arrow_down.gif") right center no-repeat;
    padding-right: 15px;
   
}

.caret-inv {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.carets {
	display: inline-block;
	width:10px;
	font-size:5px;
}

/* ---------------- Fiche ------------------- */


/* ---------------- Login ------------------- */