body.mediaticSMAC {
	background-color: #F8F8F8 ;
}

/*  --------------- En tete --------------------  */
.entete {
	background-color: #383838 ;
	height: 150px;
	border-style: groove;
}

.menu{
	right:20px;
	top:105px;
}


.logo{
	background-image: url("livre.gif");
	height:140px;
	width:120px;
}


/* ---------------- Barre de Recherche ------------------- */


/* ---------------- Recherche ------------------- */

.encadre{
	margin:100px;
	background-color: SteelBlue;
	border-radius: 10px;
	padding:20px;
}

				/*label */
label:after {
	content: ' : ';
}




/* ---------------- Creation ------------------- */


/* ---------------- Resultat ------------------- */


/* ---------------- Fiche ------------------- */


/* ---------------- Login ------------------- */